<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js</title>
</head>

<body>
  <div id="hello-world">
    <fieldset>
      <legend>Template</legend>
      <div v-html="htmlContent"></div>
      <p>Primeiro Nome: {{firstName}}</p>
      <p>Segundo Nome: {{lastName}}</p>
      <p>Idade: {{age}} anos</p>
      <p>{{age >= 18 ? 'Maior de Idade' : 'Menor de Idade'}}</p>
    </fieldset>

    <fieldset>
      <legend>Methods</legend>
      <button v-on:click="incrementAge">Incrementar idade</button>
      <button @click="decrementAge">Decrementar idade</button>
    </fieldset>

    <fieldset>
      <legend>Computed Properties</legend>
      <p>Nome Completo: {{fullName}}</p>
      <p>Nome Completo: {{getFullName()}}</p>
    </fieldset>

    <fieldset>
      <legend>Watchers</legend>
      <label for="input-address">Endereço: </label>
      <input id="input-address" type="text" v-model="address">
    </fieldset>

    <fieldset>
      <legend>V-if</legend>
      <label for="input-grade">Nota: </label>
      <input id="input-grade" type="text" v-model="grade">
      <p v-if="grade < 60">Reprovado</p>
      <p v-else-if="grade >= 60 && grade < 98">Aprovado</p>
      <p v-else-if="grade >= 98">Aprovado com excelência</p>
      <p v-else>Valor Inválido</p>
    </fieldset>

    <fieldset>
      <legend>V-show</legend>
      <button v-show="!isUserLogged" @click="isUserLogged = true">Login</button>
      <button v-show="isUserLogged" @click="isUserLogged = false">Logout</button>
    </fieldset>

    <fieldset>
      <legend>V-Text</legend>
      <p>{{firstName}}</p>
      <p v-text="firstName"></p>
    </fieldset>

    <fieldset>
      <legend>V-Html</legend>
      <div v-html="htmlContent"></div>
    </fieldset>

    <fieldset>
      <legend>V-Once</legend>
      <p v-once>{{count}}</p>
      <p>{{count}}</p>
      <button @click="count++">Adicionar</button>
    </fieldset>

    <fieldset>
      <legend>V-For</legend>
      <h4>Marcas</h4>
      <ul>
        <li v-for="brand in carBrands">{{brand}}</li>
      </ul>
      <h4>Carros</h4>
      <ul>
        <li v-for="car in cars">{{car.name}} ({{car.brand}})</li>
      </ul>
      <h4>Carro</h4>
      <ul>
        <li v-for="(value, key, index) in car">{{index}} - {{key}} - {{value}}</li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>V-Bind</legend>
      <a v-bind:href="urlIgti" target="_blank">IGTI</a> 
      <br>
      <a :href="urlIgti" v-bind:[argument]="urlIgtiDescription" target="_blank">IGTI</a>
    </fieldset>



  </div>
  <script src="https://unpkg.com/vue@3.0.4"></script>
  <script>
    const app = {
      data() {
        return {
          htmlContent: "<p style='color: red; font-size: 20px'>Hello World Vue.js!</p>",
          firstName: "Gabriel",
          lastName: "Barbosa",
          age: 25,
          address: "",
          grade: 0,
          isUserLogged: false,
          count: 1,
          carBrands: ["VW", "Fiat", "Renault", "Ford"],
          cars: [{ name: "Ka", brand: "Ford" }, { name: "Palio", brand: "Fiat" }],
          car: { name: "Ka", brand: "Ford", year: 2022 },
          urlIgti: "https://www.igti.com.br",
          urlIgtiDescription: "Clique aqui para acessar o site do IGTI",
          argument: "Title"
        }
      },
      methods: {
        incrementAge() {
          this.age++
        },
        decrementAge() {
          this.age--
        },
        getFullName() {
          return `${this.firstName} ${this.lastName}`;
        }
      },
      computed: {
        fullName: function () { return this.firstName + " " + this.lastName }
      },
      watch: {
        address: function (newValue, oldValue) {
          console.log(newValue, oldValue)
        }
      }
    }

    Vue.createApp(app).mount('#hello-world')
  </script>
</body>

</html>