.navbar-logo {
  width: 100px;
  height: auto;
}

.caroulsel__item {
  min-width: 100%;
  max-height: 700px;
}

.carousel-item{
  height: 35rem;
  background-color: #000;
}

.carousel-item > img{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 35rem;
  opacity: 0.5;
}

.training__types {
  width: 140px;
  height: 140px;
}

.training__types:hover{
  width: 200px;
  height: 200px;
  transition: width 0.5s, height 0.5s;
}

.trail-img-section,
.ioga-img-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('./img/trilha.jpg');
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.ioga-img-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('./img/treino-praia.jpg');
}

.pricing__tail{
  text-align: center;
}

.footer-rights{
  color: #fff;
}