.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.main-section {
  padding: 32px;
}

.content-section {
  margin-top: 32px;
}
