<section class="cards-container">
  <app-card>
    <app-pricing [countries]="countries" [label]="'Origem'"></app-pricing>
    <app-pricing [countries]="countries" [label]="'Destino'"></app-pricing>
    <div class="tickets-number-container">
      <app-tickets-number [label]="'Adulto'"></app-tickets-number>
      <app-tickets-number [label]="'Criança'"></app-tickets-number>
    </div>
    <div class="tickets-type-container">
      <app-tickets-type></app-tickets-type>
    </div>
    <div>
      <app-miles></app-miles>
    </div>
  </app-card>

  <app-card>
    teste
  </app-card>
</section>