.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  padding: 32px;
  margin: 0 auto;
  grid-gap: 16px;
}

.tickets-number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tickets-type-container {
  margin-top: 18px;
  margin-bottom: 18px;
}

.summary-container{
  display: grid;
  grid-template-columns: 1fr;
}
